*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color--ff: #FFFFFF;
    --color-45:#45444F;
    --color-34: #34353D;
    --color-00:#000000;
    --color-7c:#7C243E;
    --color-91:#91354F;
    --color-f0:#F0EDE9;

    --font-family-asap: Asap;
    --font-family-marion: Marion;
}
body{
    /* font-family: Marion ; */
    background-color: #FFFFFF;
}


/* Start CSS srcoll to button  */
.scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    border: 1px solid var(--color-34);
    outline: none;
    background-color: transparent;
    color: var(--color-34);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-size: 20px;
    transition: 0.9s;

}
.scroll-top:hover {
    background-color: var(--color-34);
    color: #FFFFFF;
}
/* End CSS Srcoll to button   */
.main{
    background: #FFFFFF;
    max-width: 1080px;
    margin: 0 auto;
    padding-bottom: 30px;
}
/* Start CSS Navbar  */
.main header .minnav{
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
    font-family: var(--font-family-asap);
}
header nav{
    margin: 0;
}
header nav .collapse ul{
    margin: 0 40px;
    display: flex;
    justify-content: center;
}
header nav .collapse ul .nav-s{
    margin: 0 10px;
    color: var(--color-45);
    font-size: 18px;
    font-family: var(--font-family-marion);
}
header nav .icon{
    margin-right: 25px;
}
header nav .icon svg{
    font-size: 20px;
    margin: 0 15px;
} 
/* search  */
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-top: -5px;
  }
  .input-search{
    height: 30px;
    width: 30px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    color:var(--color-34);
    font-family: var(--font-family-asap);
  }
  .input-search::placeholder{
    color: var(--color-34);
    font-size: 16px;
    font-family: var(--font-family-asap);
  }
  .btn-search{
    width: 30px;
    height: 30px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: rgba(34, 32, 32, 0.5);
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid var(--color-45);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255, 255, 255, 0.105);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
/* end CSS Navbar  */

/* Start CSS photo page  */
.slider-container {
    position: relative;
    overflow: hidden;
  }
  .slider-wrapper {
    display: flex;
    transition: transform 0.8s ease;
  }
  .slide {
    flex: 0 0 100%;
  }
  .slide img {
    width: 100%;
    height: auto;
  }
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
  }
  .prev-btn {
    left: 0;
  }
  .next-btn {
    right: 0;
  }

.photo-slide{
    position: relative;
    top: -30px;
}
.photo-slide .slider-container .slider-wrapper .slide .carousel-caption  h1{
    font-size: 64px;
    color: #E6CEA8;
    font-family: 'Lobster Two', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Mrs Saint Delafield', cursive;font-family: 'Mrs Saint Delafield', cursive;
}
    
.photo-slide .slider-container .slider-wrapper .slide .carousel-caption button{
    background: transparent;
    border: 1px solid #E6CEA8;
    color: #E6CEA8;
    width: 116px;
    height: 33px;
}

/* end CSS  photo page  */
.produit{
    top: -38px;
    position: relative;
    background-color: var(--color-f0);

}
.produit .postion{
    max-width: 1080px;
    margin: 0 auto;
    padding-bottom: 10px;
    
}
.produit .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1080px;
}
.produit .container .box h4{
    color: var(--color-7c);
    font-family: var(--font-family-marion);
    font-size: 25px;

}
.produit .container .box p{
    max-width: 300px;
    font-size: 14px;
    font-weight: var(--font-family-asap);
    color: var(--color-34);
}
/* end CSS  */

/* Start CSS  notre sélection */
.notre .noter-text{
    text-align: center;
}
.noter-text h1{
    font-size: 44px;
    color: var(--color-45);
    font-family: var(--font-family-marion);
    margin: 60px 0 20px 0;

}
.noter-text p{
    font-size: 16px;
    color: var(--color-45);
    font-family: var(--font-family-asap);
    margin-bottom: 40px;
}
.notre .container .row .col .box img{
    width: 260px;
    height:260px;
}
.notre .container .box p{
    font-size: 14px;
    color: var(--color-45);
    font-family: var(--font-family-asap);
}

.notre .container .box .sp-tp{
    position: relative;
    top: 23px;
}
.notre .container .box span{
    font-size: 18px;
    color: var(--color-45);
    font-family: var(--font-family-asap);
}
.notre .container .box .old{
    text-decoration: line-through;
    color: #B5B5B5;
    font-family: var(--font-family-asap);
    font-size: 14px;
}
/* End CSS notre sélection */

/* Start CSS A nouveau en stock */
.nouveau .box{
    margin: 0;

}
.nouveau h1{
    font-size: 30px;
    color: var(--color-45);
    font-family: var(--font-family-marion);
    margin: 15px 0 30px 0;

}
.nouveau .box p{
    font-size: 16px;
    font-family: var(--font-family-asap);
    color: var(--color-45);
    margin: 5px;
}
/* end CSS A nouveau en stock */

/* Start CSS section video */
section .photo-video{
    background: url(../Assets_images/video-bg.jpg) no-repeat center/cover;
    height: 480px;
}
section .photo-video{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section .photo-video .info-center{
    text-align: center;height: 200px;
}
section .photo-video .info-center img{
    margin: 10px 0;
}
section .photo-video .info-center h4{
    font-size: 42px;
    margin: 5px 0;
    color: #FFFFFF;
    font-family: 'Lobster Two', cursive;
    font-family: 'Mrs Saint Delafield', cursive;
}
section .photo-video .info-center p{
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--font-family-s);
    background-color: #000;
    color: #FFFFFF;
    width: 330px;
    padding: 6px 10px;
}
section .photo-video .info-center .logo{
    position: relative;
    bottom: 10px;
}
/* End CSS section video */
.hr1{
    height: 1px;
    color: var(--color-34);
    margin: 110px 0 62px 0;
}
/* Start CSS footer */
footer{
    position: relative;
}
footer .contaier .row .col .box{
    position: relative;
    top: 0;
    width: 330px;
}
footer .contaier .row .col .box .card-body  h4{
    font-weight: Regular;
    text-align: left;
    font-size: 22px;
    color: var(--color-22);
    font-family: var(--font-family-marion);
    margin: 23px 0;
}
footer .contaier .row .col .box .card-body p{
    text-align: justify;
    font-size: 18px;
    font-family: var(--font-family-asap);
    color: var(--color-34);
}

footer .contaier .row .col .box2 .card-body h4{
    text-align: left;
    font-size: 22px;
    color: var(--color-22);
    font-family: var(--font-family-marion);
    margin: 23px 0 5px 0;
}

footer .contaier .row .col .box2 .card-body ul{
    position: relative;
    left: -30px;
    top: 15px ;
    margin: 0;
}
footer .contaier .row .col .box2 .card-body ul li{
    margin: 10px 0;
    list-style-type: none;
}
footer .contaier .row .col .box2 .card-body ul li a{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: var(--color-34);
}
footer .contaier  .box3 .card-body .row .text{
    width: 250px;
}
footer .contaier  .box3 .card-body .row .text h4{
    text-align: left;
    font-size: 22px;
    color: var(--color-22);
    font-family: var(--font-family-marion);
    margin: 10px 0 5px 0;
}
footer .contaier  .box3 .card-body .row .text p{
    
    font-size: 14px;
    margin: 14px 0 0 0;
}
footer .contaier  .box3 .card-body .row .text span{
    font-size: 14px;
    font-weight: bold;
    color: var(--color-34);
}
footer .contaier  .box3 .card-body .row img{
    padding: 0;
    width: 135.5px;
    margin: -10px 0 0 -20px;
}
form {
    width: 330px;
    margin-top: 30px;
    position: relative;
  }
  form .field {
    margin-bottom: 20px;
  }
  form .input-field {
    position: relative;
    height: 46px;
    width: 100%;
  }
  .input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
  }
  .invalid input {
    border-color: #d93025;
  }
  
  .field .error {
    display: flex;
    align-items: center;
    margin-top: -30px;
    color: #d93025;
    font-size: 13px;
    display: none;
  }
  .field .error-message {
    color: #f00;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .invalid .error {
    display: flex;
  }
  .error .error-icon {
    margin-top: -15px;
    margin-right: 6px;
    font-size: 15px;
  }
  
  
  .button input {
    position: absolute;
    width: 50px;
    top: -46px;
    right: 0;
    color: #000;
    font-size: 26px;
    border: none;
    padding-top: -20px ;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
  }

footer .contaier .row .sm{
    position: absolute;
    bottom: 10px;
    right: 0;
}
footer .contaier .row .sm img{
    width: 22px;
    margin: 0 13px;
}
main .hr2{
    height: 5px;
    color: #E6CEA8;
}
.cart-b .carte img{
    width: 25px;
    margin: 10px 10px;
}
/* End CSS footer  */

/*  */
@media screen and (max-width:576px){
    body{
        margin: 0;
    }
    .main{
        margin: 0;
        width: 100%;
    }
    .scroll-top{
        position: fixed;
        right: 20px;
    }
    /* Start header navbar */
    .notre .container .row .col {
        width: 300px;
    }
    header nav .collapse ul{
        margin: 0 0px;
    } 
    header .navbar{
        padding-bottom: 20px;
    }
    /* end header navbar */
    /* start Slider  */
    .photo-slide .carousel .carousel-inner .carousel-item img{
        height: 300px;
    }
    .photo-slide .slider-container .slider-wrapper .slide .carousel-caption{
        top: 20px;
    }
    .photo-slide .slider-container .slider-wrapper .slide .carousel-caption  h1{
        font-size: 30px;
        position: relative;
        top: 50px;
    }
    .photo-slide .slider-container .slider-wrapper .slide .carousel-caption button{
        width: 80px;
        height: 20px;
        font-size: 12px;
        margin: 23px 0 0 0;
    }
    /* End slider */
    /* Start produit and livrasions */
    .produit{
        position: relative;
        top: -33px;
    }
    /* end produit and livrasions */
    /* start noter selection */
    .notre {
        justify-content: center;
    }
    /* end noter selection */
    /* Start nouveau en stock */
    .nouveau .center-box{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .nouveau .box img{
        width: 350px;
    }
    /* end nouveau en stock */
    /* start Footer */
    /* footer .contaier .row .col .box {
        width: 100%;
    } */
    footer .contaier .row form .icon-input{
        margin: 10px 0 32px 0;
    }
    footer .contaier .row .sm{
        left: 20%;
    }  
    footer .contaier .row form .icon-input{
        width: 100%;
        margin: 10px 0 32px 0;
    }
    footer .contaier .row form .icon-input input[type=email]{
        width: 100%;
        height: 46px;
    }
    footer .contaier  .box3 .card-body .row img{
        padding: 0;
        width: 135.5px;
        margin: -10px 0 0 -20px;
    }
    /* end footer  */
}
/* screen and (min-width:576px or max-width:992px)  */
@media(576px <= width <= 977px ) {
    .main{
        width: 100%;
    }
    .scroll-top{
        position: fixed;
        right: 20px;
    }
    .notre .container .row .col {
        width: 300px;
        margin: 0 2px;
    }
    .notre .container .row .col .box {
        width: 100%;
    }
    
    header nav .collapse ul{
        margin: 0 0px;
    } 
    header .navbar{
        padding-bottom: 20px;
    }
    .photo-slide .slider-container .slider-wrapper .slide .carousel-caption  h1{
        font-size: 30px;
        position: relative;
        top: 50px;
    }
    .photo-slide .slider-container .slider-wrapper .slide .carousel-caption button{
        width: 80px;
        height: 20px;
        font-size: 12px;
        margin: 23px 0 0 0;
    }
   
    .notre {
        justify-content: center;
    }
    /* .notre .container .row{
        max-width: 900px;
        margin: 0 auto;
    } */
    .notre .container .row .col .box img{
        width: 300px;
        height: 300px;
    }
    .nouveau .box{
        width: 516px;
    }
    .nouveau .box img{
        width: 100%;
    }
    footer .contaier .row form .icon-input{
        width: 280px;
        margin: 10px 0 32px 0;
    }
    footer .contaier  .box3 .card-body .row img{
        padding: 0;
        width: 100.5px;
        margin: -10px 0 0 0px;
    }
    .input-field input{
        width: 72%;
        height: 46px;
    }
    footer .contaier .row .sm{
        left: 67%;
    }  
}
@media(980px <= width <= 1200px ){
   
    .nouveau .box img{
        width: 350px;
    }
    
    .notre .container .row .col .box img{
        width: 230px;
        height:260px;
    }
   
    .notre .container .row .col:nth-child(8){
       margin-top: 0px;
    }
    .nouveau .box{
        width: 450px;
        margin: 0;
    }
    .nouveau .box img{
        width: 100%;
    }
}


